#header01{
	background-color: #f4f4f4;
	height: 30px;
    border-bottom: 1px solid #e5e5e5;
    line-height: 30px;
}
#header02{
	height: 30px;
}
.btn01{
	font-size: 14px;
	color: black;
	margin-left: 20px;
}
.Sbox{
	width: 16px;
	height: 16px;
	margin-right: 5px;
}
.Sbox img{
	width: 100%;
	height: 100%;
	/*margin-top: -10px;*/
}
#nav01{
	width: 100%;
	height: 180px;
	background-size:  1920px 180px;
	background-color: white;
	margin: 0px auto;	
}
#nav02{
	height: 180px;
}
#logo{
	height: 130px;
	width: 300px;
	float: left;
}
.logo1{
	width: 140px;
	height: 140px;
}
.logo2{
	width: 150px;
	height: 90px;
	margin-top: 30px;
}
#logo_right{
	width: 620px;
	height: 130px;
}
#search{
	width: 490px;
	height: 40px;
	border: solid 1px gainsboro;
	border-radius: 20px;
	margin-top: 45px;
	background-color: white;
}
#search:hover{
	border-color: orangered;
}
.input{
	width: 400px;
	height: 38px;
	margin: 1px 30px;
	font-size: 16px;
	border: none;
	outline: none;
}
#fangda{
	width: 40px;
	height: 40px;
	margin-top: -30px;
	margin-left: 445px;
}
#shopcar01{
	width: 122px;
	height: 40px;
	background-color: white;
	margin-top: -42px;
	border-radius: 20px;
	border: 1px solid gainsboro;
	text-align: center;
	line-height: 40px;
	font-size: 16px;
}
.Sbox2{
	width: 16px;
	height: 16px;
	margin-left: 10px;
}
.Sbox2 img{
	width: 120%;
	height: 120%;
	margin-top: -7px;
}
#shopcar01:hover {
	background-color: #f4f4f4;
}
#list01{
	width: 650px;
	height: 27px;
}
.btn02{
	margin: 8px 10px;
	font-size: 14px;
	float: left;
	color: gray;
	cursor: pointer;
}
.btn02:hover {
	color: black;
}
#list02{
	height: 10px;	
	line-height: 38px;
	padding-top: 10px;
	margin-top: 2px;
}
.btn03{
	margin-right: 30px;
	font-size: 16px;
	float: left;
}
#caidan{
	background-color: orangered;
	color: white;
}
.Sbox3{
	width: 16px;
	height: 16px;
	padding: 3px 7px;
	line-height: 32px;
}
.Sbox3 img{
	width: 100%;
	height: 100%;
	margin-top: -5px;
}
#iconDown{
	width: 20px;
	height: 38px;
	background-image: url(../img/index/iconDown.png);
	background-size: 40% 40%;
	background-repeat: no-repeat;
	background-position: 12px 12px;
	padding: 0 10px;
}
#advertise{
	height: 200px;
}
#advertiseBox{
	height: 200px;
	width: 1365dpx;
	margin: 0 auto;
	border-top: 2px solid orangered;
}
img{
	width: 100%;
	height: 100%;
}
#listBody{
	height: 2000px;
	margin-top: 20px;
}
#listBodyNav{
	width: 1030px;
	height: 19px;
	border-bottom: 1px solid gainsboro;
	padding: 10px 20px;
	margin: 0 auto;
}
#listBodyNavBox01{
	width: 100px;
	height: 20px;
	float: left;
	margin: 0 5px 0 0;
	text-align: center;
	line-height: 20px;
}
#listBodyNavBox02{
	width: 200px;
	height: 22px;
	float: left;
	outline: none;
	border: 1px solid gainsboro;
}
#listBodyNavBox03{
	width: 24px;
	height: 22px;
	background-color: palegreen;
	float: left;
}
#listBodyNavBox04{
	width: 100px;
	height: 20px;
	float: right;
	text-align: right;
	line-height: 20px;
	color: black;
}
#listBodyType01{
	width: 1070px;
	height: 129px;
	background-color: white;
	border-bottom: 1px solid gainsboro;
}
#listBodyType01Son01{
	width: 116px;
	height: 128px;
	float: left;
	text-align: center;
	line-height: 128px;
	color: #000000;
	border-right: 1px solid gainsboro;
}
#listBodyType01Son02{
	width: 786px;
	height: 118px;
	float: left;
	padding: 0px 50px 10px 10px;
	position: relative;
}
#listBodyType01grandSon{
	width: 786px;
	height: 118px;
	background-color: ghostwhite;
	float: left;
	padding: 0px 50px 10px 10px;
	position: absolute;
	top: 0px;
	left: 0px;
	overflow: auto;
	display: none;
}
#listBodyType01Son03{
	width: 100px;
	height: 16px;
	text-align: left;
	line-height: 16px;
	font-size: 15px;
	color: black;
	margin-right: 10px;
	margin-top: 30px;
	display: block;
}
#buttonS{
	width: 750px;
	height: 25px;
	position: absolute;
	top: 105px ;
	left: 50px;
	background-color: #F4F4F4;
	display: none;
}
#sure{
	margin-left: 10px;
}
#delay{
	margin-left: 10px;
}
#listBodyType02{
	width: 1070px;
	height: 33px;
	background-color: white;
	border-bottom: 1px solid gainsboro;
	float: left;
}
#listBodyType02Son01{
	width: 116px;
	height: 33px;
	float: left;
	text-align: center;
	line-height: 33px;
	color: black;
	border-right: 1px solid gainsboro;
}
#listBodyType02Son02{
	width: 786px;
	height: 23px;
	float: left;
	padding: 0px 50px 10px 10px;
}
#listBodyType02Son03{
	width: 100px;
	height: 16px;
	text-align: left;
	line-height: 16px;
	font-size: 15px;
	color: black;
	margin-right: 10px;
	margin-top: 8px;
}
#condition{
	height: 42px;
	border: 1px solid gainsboro;
	float: left;
	margin: 30px 0;
	background-color: white;
}
#conditionBox{
	width: 49px;
	height: 42px;
	background-color: orangered;
	border: 1px solid orangered;
	color: white;
	text-align: center;
	line-height: 42px;
}
#conditionBox02{
	width: 60px;
	height: 41px;
	color: black;
	text-align: center;
	line-height: 41px;
	border-right: 1px solid gainsboro;
	margin-top: 1px;
}
#conditionBox02:hover{
	color: orangered;
}
#goodList{
	height: 1590px;
	background-color: white;
	margin-top: 10px;
}
.goodListBox{
	width: 245px;
	height: 397px;
	float: left;
	border-right: 1px solid gainsboro;
	border-bottom: 1px solid gainsboro;
}
#goodListBox02{
	width: 200px;
	height: 200px;
	padding: 20px 20px 10px 20px;
	margin: 0 auto;
}
#goodListBox03{
	width: 200px;
	height: 25px;
	padding: 0px 20px 0px 20px;
	margin: 0px auto;
	color: orangered;
	font-weight: bold;
	font-size: 18px;
}
#goodListBox04{
	width: 196px;
	height: 40px;
	padding: 0px 20px 2px 20px;
	margin: 0 auto;
	font-size: 14px;
	color: black;
	overflow: hidden;
}
#goodListBox04:hover{
	color: orangered;
}
.Detail{
    background: #fef0ef;
    border: 1px solid #fba8b2;
    font-size: 12px;
    color: #ff4040;
}
#goodListBox05{
	width: 200px;
	height: 40px;
	padding: 0px 20px 0px 20px;
	margin: 10px auto;
}
.number{
	width: 30px;
	height: 28px;
	text-align: center;
	line-height: 28px;
	border: 1px solid gainsboro;
}
#Button{
	width: 16px;
	height: 28px;
	text-align: center;
	border: 1px solid gainsboro;
	margin-left: 5px;
}
#Button:hover{
	cursor: pointer;
}
.upButton{
	width: 16px;
	height: 14px;
	text-align: center;
	line-height: 13px;
	font-size: 20px;
	border-bottom: 1px solid gainsboro;
	float: left;
}
.downButton{
	width: 16px;
	height: 15px;
	text-align: center;
	line-height: 13px;
	font-size: 20px;
	float: left;
}
#addShopcar{
	width: 90px;
	height: 28px;
	background-color: orangered;
	color: white;
	text-align: center;
	line-height: 28px;
	margin-left: 10px;
	border-radius: 2px;
}
.comment{
	width: 160px;
	height: 26px;
	padding: 0 20px;
	margin: 0px auto;
}
.commentText{
	color: orangered;
	/*margin-left: 10px;*/
}
#tail{
	height: 127px;
	background-color: white;
	border-bottom: 1px solid #f4f4f4;
	margin-top: 50px;
}
#tailBox{
	width: 216px;
	height: 66px;
	margin-right: 50px;
	padding: 30.5px 0;
}
#tailBoxSon{
	width: 66px;
	height: 66px;
}
#tailBoxSon2{
	width: 127px;
	height: 50px;
	margin-top: 10px;
	margin-right: 10px;
}
.tailBoxSon2{
	margin-top: 10px;
    font-size: 15px;
    color: #333;
}
#tailOne{
	height: 172px;
	/*background-color: palegoldenrod;*/
}
#tailOneSon{
	width: 739px;
	height: 152px;
	/*background-color: palegreen;*/
	padding: 10px 20px;
}
#tailOneSon2{
	width: 145px;
	height: 32px;
	/*background-color: palevioletred;*/
	padding: 0px 10px;
	float: left;
	font-size: 15px;
	text-align: left;
	line-height: 32px;
	color: grey;
	font-weight: bold;
}
#tailOneSon3{
	width: 145px;
	height: 24px;
	/*background-color: paleturquoise;*/
	float: left;
	font-size: 10px;
	text-align: left;
	line-height: 24px;
	color: gray;
	padding: 0px 10px;
	cursor: pointer;
}
#tailOneSon3:hover{
	color: orangered;
}
#tailtwoSon{
	width: 280px;
	height: 122px;
	margin-top: -150px;
}
#tailtwoSon2{
	width: 90px;
	height: 90px;
	float: left;
	margin: 0px 10px;
}
#tailtwoSon3{
	width: 90px;
	height: 32px;
	float: left;
	margin: 0px 10px;
    font-size: 15px;
    color: grey;
    font-weight: bold;
    text-align: center;
    line-height: 32px;
}

#footer01{
	width: 1349px;
	height: 12px;
	text-align: center;
	line-height: 12px;
	padding-bottom: 10px;
	margin: 0 auto;
}
#footer02{
	width: 1349px;
	margin: 0 auto;
}
#footer02 img{
	width: 100%;
}