#top{
	height: 70px;
	box-shadow: 0 0 2px 1px grey;
	padding: 10px;
}
#topBigBox{
	width: 1100px;
	height: 50px;
	margin: 0 auto;
	padding: 10px;
}
#topLogo{
	width: 145px;
	height: 55px;
}
img {
	width: 100%;
	height: 100%;
}
#topBox{
	width: 293px;
	height: 19.3px;
	margin: -60px 0;
}
#topBoxSon{
	width: 180px;
	height: 18px;
	color: lightgray;
	font-size: 12px;
	margin-top: 10px;
}
a{color:blue;}
#topBoxSon02{
	width: 88px;
	height: 14px;
	margin-top: -16px;
	text-align: center;
	line-height: 14px;
	position: relative;
}
.Sbox2{
	width: 16px;
	height: 16px;
}
.Sbox2 img{
	width: 150%;
	height: 150%;
}
#topBoxSon03Fa{
	display: none;
    position: absolute;
    border: 2px solid #ccc;
    top: 0px;
    right: -6px;
    background-color: white;
    z-index: 10;
}
#topBoxSon03{    
    width: 98px;
    height: 20px;
    border-top: 1px dashed #ccc;
    line-height: 20px;
    z-index: 100;
    cursor: pointer;
}
#topBoxSon03:hover{
	color: orangered;
}
#topBoxSon02:hover #topBoxSon03Fa{
	display: block;
}
#loginBody{
	height: 429px;
	width: 1180px;
	margin: 20px auto;
	background-image: url(../img/login/bgPic.png);
	background-position: 130px 60px;
	background-repeat: no-repeat;
	position: relative;
}
#loginBox{
	width: 330px;
	height: 403px;
	padding: 0px 35px;
	background-color: white;
	position: absolute;
	right: 100px;
	top: 20px;
}
#loginBoxSon01{
	width: 330px;
	height: 30px;
	font-size: 15px;
	line-height: 30px;
}
#loginBoxSon02{
	width: 300px;
	height: 22px;
	background-color: white;
	margin-top: 10px;
	padding: 15px;
	border: 1px solid gainsboro;
}
#loginBoxSon02Icon{
	width: 42px;
	height: 24px;
	float: left;
	font-size: 14px;
}
#loginBoxSon02Input{
	width: 233px;
	height: 22px;
	padding: 1px;
	outline: none;
	border: none;
}
#loginBoxSon02check{
	width: 330px;
	height: 24px;
	margin: 10px 0;
	line-height: 24px;
	font-size: 12px;
}
.loginBoxSon02checkBox{
	width: 14px;
	height: 14px;
	margin-top: 6px;
	border: 1px solid gray;
	background-color: white;
}
.loginBoxSon02Button{
	background-color: #ff3c3c;
	color: white;
	line-height: 22px;
	text-align: center;
	font-size: 20px;
	width: 300px;
	height: 22px;
	margin-top: 10px;
	padding: 15px;
	border: 1px solid gainsboro;
}
#loginBoxSon02More{
	width: 330px;
	height: 76px;
	padding: 10px 0;
}
#loginBoxSon02More02{
	width: 32px;
	height: 32px;
	margin: 15px 20px 20px 0;
	background-color: white;
	float: left;
	border-radius: 16px;
}
#loginBoxSon02More03{
	width: 90px;
	height: 32px;
	margin: 15px 0px 20px 0;
	float: right;
	text-align: right;
	line-height: 32px;
}
#footer{
	margin: 0 auto;
	width: 1100px;
	height: 80px;
	background-color: white;
}


/*************register**************/
#registerBody{
	width: 1180px;
	height: 500px;
	margin: 20px auto;
	/*background-color: palegreen;*/
}

#registerBox{
	width: 330px;
	height: 463px;
	/*background-color: paleturquoise;*/
	margin: 0 auto;
}
#registerBoxSon{
	width: 330px;
	height: 50px;
	font-size: 22px;
	text-align: center;
	line-height: 50px;
	font-weight: bold;
}
.registerBoxSon02Input{
	width: 233px;
	height: 22px;
	padding: 1px;
	outline: none;
	border: none;
}
.registerBoxSon02{
	width: 300px;
	height: 22px;
	background-color: white;
	margin-top: 10px;
	padding: 15px;
	border: 1px solid gainsboro;
	position: relative;
}
.registerXsBox{
	width: 60px;
	height: 50px;
	/*background-color: plum;*/
	text-align: center;
	line-height: 50px;
	position: absolute;
	top: 0;
	left: 0;
	transition: left 0.5s;
}
.registerMsBox{
	width: 200px;
	height: 48px;
	background-color: gray;
	padding: 10px;
	font-size: 14px;
	line-height: 25px;
	position: absolute;
	top: -10px;
	left: 340px;
	transition: display 0.5s;
	display: none;
}
.registerSsBox{
	width: 70px;
	height: 25px;
	background-color: peachpuff;
	padding: 10px;
	font-size: 14px;
	line-height: 25px;
	position: absolute;
	top: 2px;
	left: 340px;
	display: none;
}


.registerBoxSon02Button{
	background-color: #ff3c3c;
	color: white;
	line-height: 22px;
	text-align: center;
	font-size: 18px;
	width: 300px;
	height: 22px;
	margin-top: 10px;
	padding: 15px;
	border: 1px solid gainsboro;
	cursor: pointer;
}
.registerBoxSon02Button:hover{
	background-color: indianred;
}
#registerBoxSon02Yanzheng{
	width: 100px;
	height: 22px;
	background-color:gray;
	margin: -15px -190px 0 0px;
	padding: 15px;
	border: 1px solid gainsboro;
	color: white;
	text-align: center;
	line-height: 22px;
	font-size: 16px;
	float: right;
}
